{% extends "base.html" %}

{% block script %}
<script defer>
    const level = document.querySelector("[level]")
const department = document.querySelector("[department]")
const course = document.querySelector("[course]");

(()=>{
    if(Number(level.value)) getCourse()
})()


level.addEventListener("change", getCourse) 

async function getCourse(){
        let defaultOption = document.createElement("option")
        defaultOption.innerText = "--Select Course--"
        course.innerHTML=""
        course.appendChild(defaultOption)
    // fetch all courses in the level 
    
    const response = await fetch(`/api/courses/${department.value}/${level.value}`)
    const data = await response.json()
    for (let d of data.data ) {
        let option = document.createElement("option")
        option.innerText = d.code +" - "+d.title
        option.value = d.code
        course.appendChild(option)
    }
}
</script>

{% endblock script %}

{% block content %}

{% include "app/libs/filter.html" %}
<section>
    {% if course %}
    <h2>Title : {{course.title}}</h2>
    <h3>Code : {{course.code}}</h3>
    <p>{{course.info}}</p>
    <div class="hr"></div>
    <p>Materials :{{course.material_set.count}} <a href="{% url "material_list" %}?department={{course.department.id}}&course={{course.code}}">Check out</a></p>

    <p>
        {% if course.outline %}
        <a href="{% url "course.outlone.url" %}" download="{{course.title}} {{course.code}} outline">Click to download course outline</a>
        {% else %}
        Course outline not available  <a href="">Click to add</a>
        {% endif %}
    </p>
    <div class="hr"></div>
    <p><b>Note:</b> anyone can flag an issue if you found anything that's not alright concerning the above course, <a href="">Flag issue</a></p>
      <div class="hr"></div>
    {% include "app/libs/comments.html"  with next="courses?" course=course %}
    {% else %}
    <p>Select Course from above to see the details about it.</p>
    {% endif %}
  
</section>


{% endblock content%}
