{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="form-div">
        <form>
             <div>
            <label> Department:
            <select name="department" value="{{department}}">
                <option value="0">--Select Department--</option>
                <option value="pols">Political Science</option>
                <option value="mascom">Mass Communication</option>
                <option value="solg">Sociology</option>
            </select>
            </label>
            <label> Level:
            <select name="level" value="{{level}}">
                <option value="000">--Select Level--</option>
                <option value="100">100 Level</option>
                <option value="200">200 Level</option>
                <option value="300">300 Level</option>
                <option value="400">400 Level</option>
                <option value="000">General </option>
            </select>
            </label>
        </div>
        <div>
            <button style="padding: 10px">Filter</button>
        </div>
        </form>
    </div>

    {% if department %}
        <h2>{{department}} - 
        {% if level == "000" %}
        General Materials
        {% else %}
        {{level}}
        {% endif %}
        </h2>
    {% else %}
    <h2>All Documents </h2>
    {% endif %}
    <div>
        {% for material in materials %}
         {% include 'app/libs/material.html' with material=material %}
         {% empty %}
         <p>Sorry, there's no any documents at the moment</p>
         <p>Click below to add</p>
         <a href="{% url "upload" %}">Add for the community</a>
        {% endfor %}
    </div>

{% endblock %}
