*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: #55acff;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    
}
p{
    margin: 5px 0;
}
header{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 5px 10px;
    gap: 5px;
    border-bottom: .5px solid lightgray;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.hidden{
    display: none;
}
header .hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: var(--primary-color);
    height: fit-content;
    border-radius: 3px;
}
header .hamburger span{
    width: 30px;
    height: 5px;
    background-color: white;
}
header > a{
    padding: 10px;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 1px;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d9d9d9b8;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.nav{
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
    width: 50%;
    position: relative;
    right: 0;
    gap: 10px;
    padding: 5px;
}
.nav a{
    font-weight: bold;
    color: black;
    font-size: 23px;
    border: .5px solid lightgray;
    padding: 10px;
    border-radius: 4px;
    background: white;
}
        /* Mobile navigation */
        @media (max-width: 768px) {
            .,
            .hero div.br{
                flex-direction: column;
            }
        }

.hero{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.hero > div{
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
   
    width: 100%;
}
.hero div.nbr{
display: flex;
justify-content: space-between;
    flex-direction: row;
}
.hero > div > p{
    height: 100%;
    flex: 1;
}
.hero > div:nth-child(even){
    background-color: white;
     border: .5px solid gray;
}
.hero figure {
    width: 50%;
    margin: 0;
}
.hero img{ 
    width: 100%;
    object-fit: contain;
}
.button-links {
    display: flex;
    
}
.button-links a {
    padding: 10px;
    color: white;
    background-color: #1877f2;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    
}

footer{
    border-top: .5px solid lightgray;
    padding-top: 20px;
    
}
footer a{
    background-color: white;
    color: black;
    padding: 0;
    font-weight: 400;
}
footer >*{
    padding: 0 10px;
}
footer ul{
    display: block;
    padding: 5px 10px;
    
}
footer li{
    margin-left: 15px;
    margin-top: 5px;
}
footer .form-div label{
    flex-direction: row;
    
}
.hr{
    height: .1px;
    background: lightgray;
    margin: 5px 0;
}
.form-div{
    padding: 10px;
}
.form-div form{
    display: flex;
    flex-direction: column;
    gap:5px;
    max-width: 400px;
    gap: 5px;
}
.form-div form > div{
    display: flex;
    gap: 5px;
}
.form-div label{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-div select, .form-div textarea, .form-div input{
    padding: 10px;
    border: .5px solid lightgray;
    border-radius: 4px;
    outline: none;
    font-size: 10px;
    background: white;
    resize: none;
    flex: 1;
}
.form-div textarea{
    height: 100px;
    resize: none;
}
.form-div .submit-btn{
    min-width: 100px;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
}


section{
    padding: 10px;
}
section p{
    margin: 5px 0;
}

  .material-card {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 5px;
            
        }
        .material {
            border: .5px solid lightgray;
            border-radius: 4px;
            padding: 10px;
    }
