{% load static %}
<header>
    <div>
        <h2><img src="{% static "imgs/archive.png" %}" alt=""> Archive</h2>
        <button class="hamburger" onclick="toggleNav()">
                <img src="{% static "imgs/menu.png" %}" alt="">
        </button>
        <nav class="hidden" nav>
           
            <div class="nav">
            <button class="hamburger" onclick="toggleNav()">
                <img src="{% static "imgs/menu.png" %}" alt="">
            </button>
            {% if user.is_authenticated %}
            <p>{{user.email}}</p>
            {% endif %}
            <a href="/">Home</a>
            <a href="{% url "material_list" %}">Materials</a>
            <a href="{% url "upload" %}">Upload</a>
            <a href="{% url "course" %}">Courses</a>
            <a href="{% url "make_request" %}">make a request</a>
            {% if user.is_authenticated %}
            <a href="{% url "account_settings" %}">Account setting</a>
            <a href="{% url "user_logout" %}">Log out</a>
            {% else %}
            <a href="{% url "user_login" %}">Log in</a>
            {% endif %}
            </div>
        </nav>
    </div>
    <div class="header-links">
        <a href="{% url "search" %}">Search </a>
        <a href="{% url "user_login" %}">
        <img src="{% static "imgs/log-in.png" %}" alt=""></a>
    </div>
    
</header>
